{% extends 'base.html.twig' %}

{% block title 'A Propos' %}

{% block body %}
    <section class="container mt-4 d-flex flex-column justify-content-center align-items-center">
        <h1>A Propos</h1>
        <img src="{{ asset('images/logo.png') }}" class="d-inline my-3" alt="" height="48">
        <div class="h-100">

            <img src="{{ asset('images/boucle.jpeg') }}" class="rounded-4 float-start me-3 " alt="des chats"
                 width="200">
            <p class="">Sylvie Da Silva est une artiste polyvalente dont la passion pour la création s'exprime à travers
                la conception de bijoux et la peinture. Originaire de France, elle a développé son savoir-faire au fil
                des années, en puisant son inspiration dans la richesse culturelle de ses voyages et les beautés
                naturelles qui l'entourent. Chaque pièce qu'elle crée est le reflet de son âme artistique, alliant
                élégance et originalité pour offrir des œuvres uniques et intemporelles.</p>
            <img src="{{ asset('images/montagne.jpg') }}" class="rounded-4 float-end ms-3 " alt="des chats" width="200">

            <p>Le parcours de Sylvie Da Silva est marqué par une quête constante de perfection et d'authenticité. Elle
                croit fermement que l'art a le pouvoir de transformer les espaces et les émotions. Ses créations sont
                bien plus que de simples objets ; elles sont des histoires racontées à travers des matériaux nobles et
                des couleurs vibrantes. En choisissant une œuvre de Sylvie Da Silva, vous invitez dans votre vie une
                part de son univers créatif, empreint de sensibilité et de beauté..</p>
            <p class="float-end mb-2 me-4"><em>Sylvie</em></p>
        </div>
        <img src="{{ asset('images/logo.png') }}" class="d-inline mb-3" alt="" height="48">
    </section>
{% endblock %}