<div class="form-group mb-3">
    <form action="{{ path( 'admin.comments.index' , {filterValidated: 'filterValidated',filterUsernameOrEmail:'filterUsernameOrEmail'} ) }}"
          method="get"
          class="d-flex justify-content-md-center">
        <div class="d-flex bg-white px-2 rounded-5">
            <select name="filterValidated" id="filterValidated" class="form-select border-0">
                <option value="all" {{ filterValidated == null ? 'selected' : '' }}>Tous</option>
                <option value="1" {{ filterValidated == "1" ? 'selected' : '' }}>Oui</option>
                <option value="0" {{ filterValidated == "0" ? 'selected' : '' }}>Non</option>
            </select>
            <input type="text" id="filterUsernameOrEmail" name="filterUsernameOrEmail" value=""
                   class="form-control border-0" placeholder="auteurs...">
            <button class="btn btn-light mx-1" type="submit"><i class="bi bi-search"></i></button>
        </div>
    </form>
</div>