<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Administration{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon.ico') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    {% include 'admin/partials/_header.html.twig' %}
</header>
<main class="">
    <div class="container">
        {% include 'admin/partials/_flash.html.twig' %}
    </div>
    {% block body %}{% endblock %}
</main>
<footer class="mt-auto bg-warning">
    {% include 'admin/partials/_footer.html.twig' %}
</footer>
</body>
</html>
