$primary: #2B2BFF;
$secondary: #A8BFF5;
$success: #328533;
$info: #8AFFF3;
$danger: #FBA7B4;
$warning: #FFF8D1;

@import '../../vendor/twbs/bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import 'fonts';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0.55turn,white, $info,white);
}

header {
  background: linear-gradient(0.55turn,white, $secondary,white);
  box-shadow: 0 2px 4px $secondary;
}

footer {
  background: linear-gradient(0.45turn,white,$warning,white);
  box-shadow: 0 -3px 5px $warning;
}

.carousel-item img{
  height: 300px;
  object-fit: fill;
}

.card-img-top{
  max-height: 200px;
  object-fit: contain;
}
.card img{
  max-height: 400px;
}