{% extends 'admin/admin.html.twig' %}

{% block title 'Les créations de Sylvie' %}

{% block body %}
    <section class="container mt-4">
        <h1>Dashboard</h1>
        <div class="container rounded-2 bg-white" style="height: 200px">
            <p class="pt-4">Bienvenue sur le dashboard de gestion des créations de Sylvie</p>
        </div>
    </section>
{% endblock %}